.info-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  max-width: 50vw;
  background-color: #fcfbfc;
  padding: 10px;
}

.info-card-content {
  font-size: larger;
  flex: 1;
  max-width: 50vw;
  color: #5200ff;
}
