.modal {
  position: fixed;
  inset: 0;
  z-index: 5;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b90;
}

.modal-show {
  opacity: 1;
}

.modal-content {
  min-height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 5px;
  border-style: solid;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.modal-content-main {
  background-color: #fcfbfc;
  border-color: #5200ff;
  color: #5200ff;
}

.modal-content-admin {
  background-color: #d9d9d9;
  border-color: #c2fe0c;
  color: #1b1b1b;
}

.modal-content-show {
  opacity: 1;
  transform: none;
}
