.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #c2fe05;
  color: #1b1b1b;
  font-size: larger;
  width: 100%;
  height: 75px;
  flex-shrink: 0;
}

.navigation-ul {
  display: flex;
  margin: 0;
}

.navigation-title {
  position: absolute;
  left: 50%;
  top: 0;
  width: 75px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.navigation-title-text {
  font-size: clamp(0.5rem, 1.5vw, 2rem);
  background-color: #1b1b1b;
  -webkit-text-stroke: 2px #c2fe05;
  -webkit-text-fill-color: #1b1b1b;
}

.navigation-element {
  background: linear-gradient(to bottom, #1a1a1a 0%, #1a1a1a 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  color: #1a1a1a;
  text-decoration: none;
  transition: background-size 0.2s;
  position: relative;
  display: flex;
  padding: 10px;
  flex: 1;
}

.navigation-element:hover {
  background-size: 10px 76px;
  color: #c2fe05;
}

/* .navigation-element {
  display: block;
  text-align: center;
  padding: 10px;
  flex: 1;
  border: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: 0.3s ease;
}

.navigation-element:hover {
  border-bottom-color: currentColor;
  cursor: pointer;
}
 */

/* .navigation-element {
  position: relative;
  display: flex;
  text-align: center;
  padding: 10px;
  flex: 1;
}

.navigation-element::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: left;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.navigation-element:hover::after {
  transform: scaleX(1);
  opacity: 1;
} */
