.snippet-grid {
  background-color: #5200ff;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.snippet-grid-parent-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.snippet-grid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.snippet-grid-left {
  flex: 1 0 15%;
  background-color: #5200ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snippet-grid-left-text {
  color: #f4f0da;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 8rem);
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);

  /* max-height: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  line-break: anywhere;
  white-space: normal; */
}
.snippet-grid-right {
  flex: 1 0 65%;
  background-color: #f4f0da;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-image: url("../../assets/backgrounds/gridBg.svg");
}
.snippet-grid-right:hover .snippet-grid-right-child:not(:hover) {
  opacity: 0.7;
}

.snippet-grid-right-child {
  transition: opacity 500ms;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}
