.dashboard-button {
  background-color: #d9d9d9;
  outline: none;
  color: #1b1b1b;
  min-width: 25vw;
  min-height: 10vh;
  font: bolder;
  cursor: pointer;
  border: none;
  position: relative;
}

.dashboard-button:hover {
  background-color: #7f7f7f;
  color: #1b1b1b;
}

.dashboard-button:active {
  background-color: #404040;
  color: #fcfbfc;
}

.dashboard-button-menu {
  font-weight: bold;
  font-size: large;
  border-bottom: 2px solid #1b1b1b;
  width: 100%;
  min-width: 0;
}
.dashboard-button-toggle {
  font-weight: bold;
  font-size: large;
  border-bottom: 2px solid #1b1b1b;
}

.dashboard-button-toggle-activated {
  background-color: #7f7f7f;
}

.dashboard-button-utility {
  border-radius: 5px;
  background-color: #404040;
  color: #fcfbfc;
  min-width: 5vw;
  min-height: 5vh;
  padding: 5px;
  border: 2px solid #1b1b1b;
  box-shadow: 4px 4px 0px 0px #1b1b1b;
}

.dashboard-button-utility:active {
  top: 4px;
  left: 4px;
  box-shadow: 0px 0px 0px 0px;
}
